<section class="m-3">
  <span>Show</span>
  <button><select aria-label="select" (change)="selectChangeHandler($event)">
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="40">40</option>
    <option value="50">50</option>
  </select></button>
  <button>
    <fa-icon [icon]="faFolderPlus"></fa-icon>
    Employee
  </button>
  <button (click)="openDialog()">
    <fa-icon [icon]="faFolderPlus"></fa-icon>
    Add Filter
  </button>
  <button>Export
    <fa-icon [icon]="export"></fa-icon>
  </button>
</section>

<section class="table-container">
  <table class="table table-borderless table-responsive-lg">
    <thead>
    <tr>
      <th class="first" scope="col">
        <span>Name</span>
        <button class="sort-name"  (click)="sortByName()">
          <fa-icon *ngIf="sortDown" [icon]="faArrowDown"></fa-icon>
          <fa-icon *ngIf="!sortDown" [icon]="faAngleUp"></fa-icon>
        </button>
      </th>
      <th scope="col">Title</th>
      <th scope="col">Hiring date</th>
      <th scope="col">Salary</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody class="content-wrapper">
    <tr class="content-item" *ngFor="let employee of returnedArray">
      <td class="first">{{employee.fullName_FL}}</td>
      <td>{{employee.department?.name_FL}}</td>
      <td>{{employee.hiringDate}}</td>
      <td>{{employee.firstContractingSalary}}</td>
      <td>Terminate</td>
    </tr>
    </tbody>
  </table>
</section>
<section class="row m-0 ">
  <div class="mb-3 col-12 col-md-10 mx-md-auto">
    <progressbar *ngIf="currentPage&&pages" [max]="pages" [value]="currentPage" [animate]="true"></progressbar>
  </div>
  <div class="col-12 col-md-2">
    <div class="row">
      <pagination class="col-6 col-md-12  mx-md-auto" *ngIf="employeesLen"
                  [totalItems]="employeesLen"
                  (pageChanged)="pageChanged($event)">
      </pagination>
      <p class="col-6 col-md-12 mx-md-auto" *ngIf="pages">page {{currentPage}}/{{ pages}}</p>
    </div>
  </div>

</section>
