<section>
  <table class="table table-borderless">
    <thead>
    <tr>
      <th class="first" scope="col">Name</th>
      <th scope="col">Title</th>
      <th scope="col">Hiring date</th>
      <th scope="col">Salary</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody class="content-wrapper">
    <tr class="content-item" *ngFor="let employee of returnedArray">
      <td class="first">{{employee.fullName_FL}}</td>
      <td>{{employee.department?.name_FL}}</td>
      <td>{{employee.hiringDate}}</td>
      <td>{{employee.firstContractingSalary}}</td>
      <td>Terminate</td>
    </tr>
    </tbody>
  </table>
</section>
<pagination *ngIf="employeesLen"
            [totalItems]="employeesLen"
            (numPages)="numPages($event)"
            (pageChanged)="pageChanged($event)"></pagination>
<p *ngIf="pages">page {{currentPage}}/{{ pages}}</p>
<div class="mb-2">
  <progressbar *ngIf="currentPage&&pages" [max]="pages" [value]="currentPage" [animate]="true"></progressbar>
</div>
